/* h1{
    width:600px;

    height:300px;
}


a{
    display: inline-block;

}
h1{

    text-align: center;
}
img{
    
} */

*{
margin:0;
padding:0

}

h1{
    text-align: center;
    border:1px solid black;
    padding: 50px;
    margin: 50px;
    ###essenstail css concepts
    1.Displaypropwerty


    2.boxmode;

    3.Boxing Sixe


    4...posiions


    5Responsi ;
    .
    ...6.

    7.
    8.
    9.
img{
    display:bock;


}





