*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Parent grid */
.parent{
    width:800px;
    height:900px;
    margin:auto;
    margin-top:10px;
    border:2px solid black;

    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap:10px;
}

/* Children placements */

.child1{
    grid-column:1 / 3;
    grid-row:1 / 3;
    background:blue;
}

.child2{
    grid-column:3 / 5;
    grid-row:1 / 2;
    background:red;
}

.child3{
    grid-column:1 / 2;
    grid-row:3 / 4;
    background:orange;
}

.child4{
    grid-column:2 / 3;
    grid-row:3 / 4;
    background:yellowgreen;
}

.child5{
    grid-column:3 / 4;
    grid-row:2 / 5;
    background:indigo;
}

.child6{
    grid-column:1 / 3;
    grid-row:4 / 5;
    background:teal;
}

.child7{
    grid-column:4 / 5;
    grid-row:2 / 5;
    background:aqua;
}
