* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #edf2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

/* COMMON CARD STYLE */
.card {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.card h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.title {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
}


.child1 {
    grid-column: 1 / 3;
    background: #733fc8;
    color: white;
}

.child2 {
    grid-column: 3 / 4;
    background: #49556b;
    color: white;
}

.child3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background: white;
    color: #333;
}

.child4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: white;
    color: #333;
}

.child5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: #18202d;
    color: white;
}
