/* ===== RESET ===== */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* ===== NAVBAR ===== */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 50px;
    background-color:black;
}

/* Logo */
nav img{
    width:50px;
}

/* Menu */
nav ul{
    width:400px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
}

nav ul li{
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

nav ul li:hover{
    color:orange;
}

/* ===== MAIN ===== */
main{
    padding:40px 60px;
    background-color:#f5f5f5;
    min-height:80vh;
}

/* Card Container (Flex Grid) */
.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:30px;
}

/* ===== CARD ===== */
.card{
    width:280px;
    padding:20px;
    text-align:center;
    background:white;
    border-radius:15px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.2);
    transition:0.3s;
}

/* Hover effect */
.card:hover{
    transform:translateY(-8px);
}

/* Card Image */
.card img{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}

/* Card Text */
.card h3{
    margin:10px 0;
}

.card p{
    font-size:14px;
    color:gray;
    margin-bottom:15px;
}

/* Button */
.card button{
    border:none;
    padding:8px 15px;
    background-color:orange;
    color:white;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    background-color:black;
}

/* ===== FOOTER ===== */
footer{
    text-align:center;
    padding:15px;
    background:black;
    color:white;
    display: flex;
    justify-content:space-around;
    height: 10rem;
    padding:6rem

}

/* ===== RESPONSIVE ===== */
@media screen and (max-width:700px) {
    nav{
    flex-direction: coloumn;
    align-items: cneter;
    }
    nav ul
    {
        display:flex;
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
}