* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.child1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.child1 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
}

.child1 img {
    width: 100px;
    height: 200px;
    margin-right: 20px;
}

.child2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: rgb(138, 167, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.child3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    font-size: 20px;
}

.child4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: lightblue;
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.child4 .first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.child4 .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.child4 .second p {
    margin-top: 10px;
}

.child5 {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    background-color: purple;

}

.round {
    height: 50%;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
}

.bottum {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.bottum button {
    width: 100px;
    height: 25px;
    font-size: 10px;
    border-radius: 30px;
    border: none;
    background-color: gold;
}

.child6 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.child7 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

