 body{
    background-color: whitesmoke;
    margin:0;
}

/* Card */
div{
    width:400px;
    margin:auto;
    margin-top:200px;
    text-align:center;
    background-color:rgb(21,128,222);
    padding:30px;
    border-radius:50px;
}

/* Profile Image */
.golden{
    width:50%;
    border-radius:50%;
    margin-bottom:15px;
}

/* Tag */
h3{
    background-color:blue;
    color:white;
    margin:auto;
    border-radius:50px;
    width:80px;
}

/* WhatsApp Icon */
.whatsapp{
    width:60px;
    border-radius:50%;
    position:fixed;
    top:20px;
    right:20px;
}

/* Mobile */
@media screen and (max-width:500px){
    body{
        background-color:aqua;
    }

    div{
        width:90%;
        margin-top:100px;
    }
}

/* Tablet */
@media screen and (min-width:501px) and (max-width:699px){
    body{
        background-color:red;
    }
}

/* Desktop */
@media screen and (min-width:700px){
    body{
        background-color:lightgreen;
    }
}

/* Print */
@media print{
    body{
        background-color:white;
        color:black;
    }
}
