:root{
    --heading-color:yellow;
    --button-color:blue;
}
h1{
    color:var(--heading-color);
}
button{
    background-color: var(--button-color);
}

/* @media screen and (max-width:600px) {
    h1{
        font-size: 1.5rem;
    }}

@media screen and (min-width:601px) and (max-width:800px) {
    h1{
        font-size:3rem
    }
} */


h1{
    font-size:clamp(1.5rem,10vw,5rem)
}

img{
    width: 100%;
    max-width 500px;;
}