* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    width: 1000px;
    height: 100px;
    margin: auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

/* Layout placement */

.child1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background: #f1f1f1;
}

.child2 {
    grid-column: 3/5;
    grid-row: 1/2;
    background: #e5e5e5;
}

.child3 {
    grid-column: 2/4;
    grid-row: 2/4;
    background: #fafafa;
}

.child4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #ff4d2d;
    color: white;
}

.child5 {
    grid-column: 4/5;
    grid-row: 2/5;
    background: #7b5cff;
    color: white;
}

.child6 {
    grid-column: 1/2;
    grid-row: 3/5;
    background: #f3f3f3;
}

.child7 {
    grid-column: 2/4;
    grid-row: 4/5;
    background: #6ec1c2;
}

/* Common styling */

.parent div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parent img {
    width: 80px;
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    /* stacked view */
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }

    .parent>div {
        grid-column: auto;
        grid-row: auto;

    }
}